<!DOCTYPE html>
<html>
<head>
  <title>MovieClub QUnit Tests</title>
  <%= stylesheet_link_tag "qunit", media: "all" %>
  <%= stylesheet_link_tag "test_helper", media: "all" %>

  <%= javascript_include_tag "qunit" %>
  <%= javascript_include_tag "test_helper" %>
</head>
<body>
  <div id="qunit"></div>
</body>
</html>
