.admin-navigation.nav-tabs
  margin-bottom: 15px

.admin-event-attendees-grid tr
  &.accepted
    background-color: #dff0d8
  &.pending
    background-color: #fcf8e3
  &.not_invited
    background-color: #f2dede

